[submodule "stm32cube"]
	path = stm32cube
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "cmsis"]
	path = cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
